
body {
background:rgb(228, 227, 227);
font-family: sans-serif;
/* height:100%; */
}
footer{
    margin-top: 19%;
}

.wrapper {
width: 800px;
margin-top: 15%;
margin-left: 20%;
color:black;
text-align:center;
}

h1, h2, h3 {
  font-family: 'Roboto', cursive;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds, #tens{
  font-size:2em;
}

button{
/* @include corners (5px); */
background:skyblue;
color:black;
border: solid 1px skyblue;
border-radius: 10px;
text-decoration:none;
cursor:pointer;
font-size:1.2em;
font-family: cursive;
padding:18px 10px;
width:180px;
margin: 10px;
 outline: none;
  &:hover{
	/* @include transition; */
	background:white;
	border: solid 1px white;
	color:blue;
	}
}